<div>

  <h1 style="color: blue">Lista de Tarefas</h1>
  <div class="list-group" *ngFor="let task of ListTask">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ task.Titulo }}</h5>
        <small>{{task.DataCreate | date: 'dd/MM/yyyy' }}</small>
      </div>
      <p class="mb-1">{{ task.Corpo }}</p>
      <small>{{ task.Situacao }} --- {{ task.DataFim | date: 'dd/MM/yyyy' }}</small>
    </a>
  </div>


</div>
